body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  max-width: 900px;
  margin: 0 auto;
}
.display {
  margin-top: 12px;
}
.display-row {
  display: flex;
}
.display-row .cell {
  flex: 1;
  height: 5px;
  border: 1px solid black;
  margin: 1px;
  background: black;
}

.display-row .cell.on {
  background: white;
}

.inputWrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.mainInput {
  min-height: 300px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.keyValue:nth-of-type(odd) {
  background: #ddd;
}
.keyValue {
  display: flex;
  flex: 1;
  padding: 4px;
}
.kvTitle {
  flex: 1;
}

.cpuInfo {
  margin-top: 12px;
}

.doc-row.marked {
  background: #ddd;
}
.doc-row {
  cursor: pointer;
  display: flex;
  text-align-last: left;
  white-space: pre-wrap;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  padding: 4px;
}

.doc-pattern {
  width: 100px;
  min-width: 100px;
  font-weight: bold;
}
.doc-cat {
  width: 80px;
  min-width: 80px;
}

.doc-equivalent {
  min-width: 140px;
}

.doc-row.marked .doc-desc {
  display: none;
}
